@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
  font-family: 'Varela Round', sans-serif;
  background: #d3d3d3;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: dodgerblue;
  padding: 5px;
  font-size: 18px;
}
nav div {
  display: flex;
  color: white;
  font-weight: bold;
}
nav div button {
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
}
nav div button:focus {
  outline: none;
}
#slide-out-nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.slide-out-nav-wrapper {
  height: 100%;
  width: 250px;
  z-index: 10;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
  width: 250px;
  height: 45%;
  color: white;
}
.user-info img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 10px;
}
.user-info h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.slide-out-buttons {
  width: 250px;
  height: 60%;
  background: white;
}
.slide-out-buttons div {
  display: flex;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 18px;
}
.slide-out-buttons div i {
  color: #aaa;
  margin-right: 20px;
  margin-left: 20px;
}
.slide-out-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ddd;
}
.page-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  background: white;
}
.page-info p {
  color: #666;
  font-size: 14px;
}
.page-info a {
  color: dodgerblue;
  font-weight: bold;
}
.categories-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.category-card {
  background: white;
  margin: auto;
  width: 300px;
  padding: 5px;
  border: .5px solid #bbb;
  border-radius: 1.5px;
  margin-bottom: 10px;
}
.quick-view {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quick-view a {
  color: dodgerblue;
  font-size: 14px;
  margin-bottom: 20px;
}
.quick-view img {
  width: 60%;
  height: 125px;
  margin: auto;
  margin-bottom: 20px;
}
.quick-view p {
  font-size: 12px;
  margin-bottom: 20px;
}
.quick-view p span {
  font-size: 18px;
}
.quick-view p i {
  color: #aaa;
}
.categories-data {
  display: flex;
  border-top: .5px solid #bbb;
  margin: 15px;
}

.categories-data div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
  width: 100%;
}
.categories-data-card-1 {
  border-right: .5px solid #bbb;
}
.catagories-info {
  width: 100%;
  margin-bottom: 20px;
}
.catagories-info p {
  font-size: 12px;
}
